<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_2f85">

  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:arg name="tf_prefix" default=""/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>

  <link name="world"/>

  <xacro:ur_robot
    name="$(arg ur_type)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
    force_abs_paths="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- tool0 in this xacro uses REP-103 sensor convention (Z+ "front",
       perpendicular to the tool axis), which would mount the gripper
       sideways. We add `tool0_aligned` with the missing rpy="0 -pi/2 pi/2"
       rotation (originally in robotiq's gripper_side_joint, but commented
       out upstream) so its Z+ runs along the tool axis. The adapter then
       attaches to tool0_aligned. Keeping the chain wrist_3→flange→tool0
       linear (no branching at flange) avoids confusing the URDF importer's
       articulation tree. -->
  <link name="tool0_aligned"/>
  <joint name="tool0_to_aligned" type="fixed">
    <parent link="tool0"/>
    <child link="tool0_aligned"/>
    <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
  </joint>

  <xacro:ur_to_robotiq prefix="$(arg tf_prefix)" connected_to="$(arg tf_prefix)tool0_aligned" rotation="0.0"/>

  <xacro:robotiq_gripper
    name="RobotiqGripperHardwareInterface"
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)gripper_mount_link"
    use_fake_hardware="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

</robot>
